In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df=pd.read_csv('train_LZdllcl.csv')

In [9]:
df.head(5)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [15]:
df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [16]:
df=df.fillna(method='ffill')

In [17]:
df.isnull().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['department']=encoder.fit_transform(df['department'])
df['region']=encoder.fit_transform(df['region'])
df['education']=encoder.fit_transform(df['education'])
df['gender']=encoder.fit_transform(df['gender'])
df['recruitment_channel']=encoder.fit_transform(df['recruitment_channel'])

df.head(5)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,7,31,2,0,2,1,35,5.0,8,1,0,49,0
1,65141,4,14,0,1,0,1,30,5.0,4,0,0,60,0
2,7513,7,10,0,1,2,1,34,3.0,7,0,0,50,0
3,2542,7,15,0,1,0,2,39,1.0,10,0,0,50,0
4,48945,8,18,0,1,0,1,45,3.0,2,0,0,73,0

In [21]:
x=df.iloc[:,1:13]
y=df.iloc[:,13]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: is_promoted, dtype: int64

In [23]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x=ss.fit_transform(x)
x=pd.DataFrame(x)
x.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.808933,1.776526,1.572127,-1.536223,1.154111,-0.415276,0.025598,1.326042,0.500460,1.356878,-0.154018,-1.075931
1,-0.388183,-0.163034,-0.648080,0.650947,-0.885239,-0.415276,-0.627135,1.326042,-0.437395,-0.736986,-0.154018,-0.253282
2,0.808933,-0.619401,-0.648080,0.650947,1.154111,-0.415276,-0.104948,-0.261293,0.265996,-0.736986,-0.154018,-1.001145
3,0.808933,-0.048942,-0.648080,0.650947,-0.885239,1.226063,0.547785,-1.848628,0.969387,-0.736986,-0.154018,-1.001145
4,1.207972,0.293333,-0.648080,0.650947,-0.885239,-0.415276,1.331064,-0.261293,-0.906322,-0.736986,-0.154018,0.718939

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.45,random_state=0)

In [52]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(x_train,y_train)

C:\Users\SRI HARI\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [53]:
Y_pred=classifier.predict(x_test)

In [54]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_pred,y_test)

array([[22503,  1912],
       [   88,   161]], dtype=int64)

In [55]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred,y_test)

0.9189101524489134

In [56]:
from sklearn.metrics import f1_score
f1_score(Y_pred,y_test)

0.13867355727820843

In [57]:
from sklearn.metrics import classification_report
classification_report(y_test,Y_pred)

'              precision    recall  f1-score   support\n\n           0       0.92      1.00      0.96     22591\n           1       0.65      0.08      0.14      2073\n\n    accuracy                           0.92     24664\n   macro avg       0.78      0.54      0.55     24664\nweighted avg       0.90      0.92      0.89     24664\n'

In [58]:
df1=pd.read_csv('test_2umaH9m.csv')

In [59]:
df1.isnull().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [60]:
df1=df1.fillna(method='bfill')

In [61]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df1['department']=encoder.fit_transform(df1['department'])
df1['region']=encoder.fit_transform(df1['region'])
df1['education']=encoder.fit_transform(df1['education'])
df1['gender']=encoder.fit_transform(df1['gender'])
df1['recruitment_channel']=encoder.fit_transform(df1['recruitment_channel'])

df1.head(5)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,8,18,0,1,2,1,24,3.0,1,1,0,77
1,74430,2,28,0,0,0,1,31,3.0,5,0,0,51
2,72255,7,4,0,1,0,1,31,1.0,4,0,0,47
3,38562,5,11,0,0,0,3,31,2.0,9,0,0,65
4,64486,1,21,0,1,2,1,30,4.0,7,0,0,61

In [62]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
df1=ss.fit_transform(df1)
df1=pd.DataFrame(df1)
df1.head()
df1=df1.iloc[:,1:13]

In [63]:
Y1_pred=classifier.predict(df1)

In [64]:
print(Y1_pred)

[0 0 0 ... 0 0 0]

In [45]:
(pd.DataFrame(Y1_pred,columns=['Prediction'])).to_csv('prady.csv')