In [116]:
import pandas as pd

In [117]:
df=pd.read_csv('pml_eval.csv')

In [118]:
df

,NaN,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,NaN,16,2,20,Yes,Good,Under-7,M
1,1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,NaN,30,No,Bad,Above-7,L
3,3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,NaN,14,-,62,No,Bad,Above-7,L

In [143]:
df.isnull().sum()

NaN                         0
gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [142]:
df=df.fillna(method='bfill')

In [121]:
df

,NaN,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,NaN,16,2,20,Yes,Good,Under-7,M
1,1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,3,30,No,Bad,Above-7,L
3,3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,30,14,-,62,No,Bad,Above-7,L

In [122]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['gender']=le.fit_transform(df['gender'])

In [123]:
df['NationalITy']=le.fit_transform(df['NationalITy'])

In [124]:
df['PlaceofBirth']=le.fit_transform(df['PlaceofBirth'])

In [125]:
df['StageID']=le.fit_transform(df['StageID'])

In [126]:
df['GradeID']=le.fit_transform(df['GradeID'])

In [127]:
df['SectionID']=le.fit_transform(df['SectionID'])
df['Topic']=le.fit_transform(df['Topic'])
df['Semester']=le.fit_transform(df['Semester'])
df['Relation']=le.fit_transform(df['Relation'])
df['Semester']=le.fit_transform(df['Semester'])
df['ParentAnsweringSurvey']=le.fit_transform(df['ParentAnsweringSurvey'])
df['StudentAbsenceDays']=le.fit_transform(df['StudentAbsenceDays'])
df['Class']=le.fit_transform(df['Class'])

In [150]:
(df['raisedhands']=='-').sum()

6

In [144]:
# df['raisedhands']=le.fit_transform(df['raisedhands'].apply('str'))
df['raisedhands'].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: '-'

In [ ]:
df['Class']=le.fit_transform(df['Class'])

In [128]:
df['ParentschoolSatisfaction']=le.fit_transform(df['ParentschoolSatisfaction'])

In [129]:
x=df.iloc[:,1:17]
x=x.drop(columns=['ParentschoolSatisfaction'])

In [130]:
y=df.iloc[:,15]
y

0      1
1      1
2      0
3      0
4      0
      ..
475    0
476    0
477    0
478    0
479    0
Name: ParentschoolSatisfaction, Length: 480, dtype: int32

In [131]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [136]:
df.dtypes

NaN                          int64
gender                       int32
NationalITy                  int32
PlaceofBirth                 int32
StageID                      int32
GradeID                      int32
SectionID                    int32
Topic                        int32
Semester                     int64
Relation                     int32
raisedhands                 object
VisITedResources             int64
AnnouncementsView           object
Discussion                   int64
ParentAnsweringSurvey        int32
ParentschoolSatisfaction     int32
StudentAbsenceDays           int32
Class                        int32
dtype: object

In [133]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=3)
classifier.fit(x_train,y_train)

ValueError: could not convert string to float: '-'